<h1 id="static-header">About Us</h1>

<div class="container static-about-container">

	<div class="col-md-4 col-sm-6 col-xs-12">
		<%= image_tag("munich.jpg", class: "img-responsive", id: "munich-pic") %>
	</div>

	<div class="col-md-8 col-sm-6 col-xs-12 about-text-box">
		<p>Book Mania has a huge selection of books available. Nomatter what your reading tastes are, we have something for you! With our online catalogue, you can browse through our collection to find what you want.</p>
		<br>
		<p>Can't find the book you want? Searching, in vain, for a book that's very uncommon? <b>No problem</b>! We are specialists in finding rare, hard-to-find books. If we don't have what you're looking for, we can search the Internet and bookstores throughout the world to locate and obtain the book you want. If we can't find it, nobody can!</p>
		<p>We are based in Munich, Germany, however we can find the book you need and have it shipped to you anywhere in the world</p>
		<br>
		<p>If you have any questions, don't hesitate to contact us. We're looking forward to hearing from you!</p>
	</div>

</div>