<h1>About Us</h1>
<p>Book Mania has a huge selection of books available, but we are also specialists in finding rare, hard-to-find books. If we don't have what you're looking for, we can search the Internet and bookstores throughout the world to locate and obtain the book you want.</p>
<%= image_tag("munich-skyline.png", class: "img-responsive title-image", id: "munich-skyline") %>
<p>We are based in Munich, Germany, however we can find the book you need and have it shipped to you anywhere in the world</p>
<p>If you have any questions, don't hesitate to contact us. We're looking forward to hearing from you!</p>
