<h1>About Us</h1>
<p>Book Mania is dedicated to finding rare, hard-to-find, even impossible-to-find, books. We search the Internet and bookstores throughout the world to locate and obtain the book you want.</p>
<p>We are based in Munich, Germany, however we can find the book you need and have it shipped to you anywhere in the world</p>
<p>If you have any questions, don't hesitate to contact us. We're looking forward to hearing from you!</p>
