<h1 id="static-header">Contact Us</h1>

<div class="static-contact-container">
	<div class="row">
		<div class="col-md-6 col-sm-4 col-xs-12">
			<p>We can be contacted easily by email, telephone or Skype (FaceTime or Google Hangouts is also possible).</p>
			<p>If you prefer to get in touch with us right away, feel free to use the contact form below.</p>
			<p>Don't be afraid to let us know if you have any questions &ndash; we enjoy talking with our customers!</p>
		</div>

		<div class="col-md-6 col-sm-8 col-xs-12 contact-info">
		  <ul>
		    <li><span class="glyphicon glyphicon-envelope"></span> email: info@bookmania.com</li>
		    <li><span class="glyphicon glyphicon-earphone"></span> mobile: +49 (0)176 12345678</li>
		    <li><span class="glyphicon glyphicon-facetime-video"></span> skype: bookmania</li>
		  </ul>
		</div>
	</div>
</div>

<div class="container">
	<!-- Contact form section -->
	<form id="contact-form">
	  <div class="form-group">
	    <div class="row">
	      <div class="col-xs-6">
	        <label for="form-name">Name*</label>
	        <input type="text" class="form-control" placeholder="Bugs Bunny" id="form-name" name="sender_name" required="required" minlength=2 maxlength=20></input>
	      </div>
	      <div class="col-xs-6">
	        <label for="form-company">Company</label>
	        <input type="text" class="form-control" placeholder="Disney World" id="form-company" name="sender_company-organization" minlength=2 maxlength=20></input>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-xs-6">
	        <label for="form-email">Email Address*</label>
	        <input type="email" class="form-control" placeholder="bugs@bunny.com" id="form-email" name="sender_email" required="required" minlength=6 maxlength=20></input>
	      </div>
	      <div class="col-xs-6">
	        <label for="form-telephone">Telephone Number</label>
	        <input type="tel" class="form-control" placeholder="123-456-7890" id="form-telephone" name="sender_telephone" min=9 max=15></input>
	      </div>
	    </div>
	    <br>
	    <div class="row">
	      <div class="col-xs-12">
	        <label for="message-box">Message*</label>
	        <textarea style="resize:none" cols="40" rows="5" class="form-control" placeholder="Hello, what's your question?" id="message-box" name="sender_message" required="required" minlength=5 maxlength=400></textarea>
	        <br>
	        <button type="submit" class="btn btn-primary outline" id="form-button">Send</button>
	      </div>
	    </div>
	  </div>
	</form>
</div>