<h1>Contact Us</h1>
<p>We can be contacted easily by email, telephone, or the contact form on this page. If necessary, we can schedule an online video call (preferably by Skype, but FaceTime or Google Hangouts is also possible).</p>

<div class="contact-info">
  <ul>
    <li>email: info@bookmania.com</li>
    <li>mobile: +49 (0)176 12345678</li>
    <li>skype: bookmania</li>
  </ul>
</div>