<h1>Welcome to Book Mania!</h1>
<%= image_tag("book.png", class: "img-responsive title-image") %>
<h2>Your source for <i>rare</i> and <i>hard-to-find books</i></h2>
<p>We have an enourmous selection of books, which you can browse on our online catalogue.</p>
<p>Don't see what you're looking for? Don't worry, we're experts at locating books. If it exists somewhere in the world, we'll find it &ndash; <b>guaranteed</b>!</p>
