<div class="products-search-jumbotron">
	<div class="container">
	<h1 id="static-header">Search</h1>
	</div>
</div>

<div class="book-search">
	<h2>Already know what you want?</h2>
		<div class="input-group">
		  <%= form_tag("/search_results", method: "get") do %>
  			<%= label_tag(:q, "Search for:") %>
  			<%= text_field_tag(:q) %>
  			<%= submit_tag("Search") %>
			<% end %>
		</div>
		<br>
		<p>You can search by any available information relating to the book's title, author or description.</p>
</div>