<table>
  <tbody>
  	<tr>
      <td>
      	<p>Dear <%= @name %>,</p><br>
      </td>
    </tr>
    <tr>
      <td>
      	<p>Thank you for sending us the following message:</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @message %></p><br>
      </td>
    </tr>
    <tr>
      <td>
      	<p>We will be in touch shortly.</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>Sincerely,<br>
        Oasis Books</p>
      </td>
    </tr>
  </tbody>
</table>