<div class="users-jumbotron">
  <div class="container">
    <h1 id="static-header">Edit User Info</h1>
  </div>
</div>

<% if notice %>
  <p class="alert alert-warning"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="users-container">

	<%= render 'form' %>

</div>

<div class="extra-space"></div>