<h1 id="orders-header">Orders</h1>
<p id="orders-subtitle">Here is a list of orders that we are processing or have already processed.</p>

<div class="container orders-index-container">
	<div class="row orders-row">
		<%= render @orders %>
	</div>
</div>