<div class="orders-index-jumbotron">
	<div class="container">
		<h1 id="static-header">Orders</h1>
	</div>
</div>

	<% if notice %>
    <p class="alert alert-warning"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<p id="orders-subtitle">Here is a list of orders that we are processing or have already processed.</p>

<div class="container orders-index-container">
	<div class="row orders-row">
		<%= render @orders %>
	</div>
</div>

<div class="extra-space"></div>