<div class="orders-index-jumbotron">
	<div class="container">
		<h1 id="static-header">Orders</h1>
	</div>
</div>

	<% if notice %>
    <p class="alert alert-warning"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<div class="orders-index-container" ng-controller="ordersCtrl">

  <% if signed_in? && current_user.admin? %>

    <p>Manually add an order:</p>
    <form class="form-inline" ng-submit="addOrder()">
      <strong>Add order:</strong>
      <select ng-model="newOrder.product_id" class="form-control">
        <option value="" disabled selected>Select product</option>
        <option ng-repeat="product in products" value="{{ product.id }}">{{ product.title }} (${{ product.price }})</option>
      </select>
      <strong>and</strong>
      <select ng-model="newOrder.user_id" class="form-control">
        <option value="" disabled selected>Select customer</option>
        <option ng-repeat="user in users" value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }} (User ID: {{ user.id }})</option>
      </select>
      <br>
      <br>
      <strong>Product price and shipping:</strong>
      <input type="text" ng-model="newOrder.total" class="form-control" required="true" placeholder="Total">
      <br>
      <br>
      <input type="submit" value="New order" class="btn btn-primary">
    </form>

  <% end %>

  <% if signed_in? && current_user.admin? %>
    <p>Here is a list of all orders that have been placed by customers:</p>
  <% else %>
    <p>Here is a list of all of your orders:</p>
  <% end %>

	<div class="orders">
    <table class="table table-hover">
      <thead>
        <td>Order ID</td>
        <td>Total</td>
        <td>Shipped</td>
        <td>Product</td>
        <td>User Email</td>
      </thead>
      <tr ng-repeat="order in orders | orderBy:'-id':reverse">
        <td>
          {{ order.id }}
        </td>
        <td>
          {{ order.total | currency }}
        </td>
        <td>
          <input type="checkbox" value="order.shipped" ng-click="changeShipped(order)">
        </td>
        <td>
          {{ order.product.title }}
        </td>
        <td>
          {{ order.user.email }}
        </td>
        <td>
          <button ng-click="deleteOrder(order)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </td>
      </tr>
    </table>
    
	</div><!-- end of .orders-row -->
</div><!-- end of .orders-index-container -->

<div class="extra-space"></div>