<p id="notice"><%= notice %></p>
<h1 id="orders-header">Current Order</h1>

<div class="show-container">
	<p>
	  <strong>User ID:</strong>
	</p>

	<p>
	  <strong>Product ID:</strong>
	</p>

	<p>
	  <strong>Order Total:</strong>
	  $
	</p>

	<div class="bottom-navigation-links">
		<%= link_to 'Back', orders_path %>
	</div>
</div>