/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */

html {
  position: relative;  /* For sticky footer */
  min-height: 100%;    //* For sticky footer */
}

body {
  margin-bottom: 150px; /* For sticky footer */
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #aaa;
	margin: 1em 0;
	padding: 0; 
}

#static-header {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 20%;
	font-size: 3em;
}

/* General typography */

h1 {
	font-family: Futura, sans-serif;
	color: #dbae58;
	text-align: center;
}

h2 {
	font-family: Futura, sans-serif;
	color: #4e595c;
	text-align: center;
}

p {
	font-family: Arial, sans-serif;
	color: #4e595c;
	font-size: 1.25em;
	text-align: left;
}

/* Nav bar */

.navbar {
	/*background-color: #588998;*/
	background-color: #000;
	opacity: 0.5;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	text-align: center;
	border: none;
	height: auto !important;
}

.navbar li {
	display: inline;
}

.navbar-inner {
  text-align:center;
}

.navbar a {
	color: #fff !important;
}

.navbar a:hover {
	background: transparent !important;
	color: #888 !important;
}

/* Increase Nav bar height */

.navbar-brand,
.navbar-nav li a {
	line-height: 75px;
	height: 75px;
	padding-top: 0;
}

/* Center nav links */

.navbar-collapse.collapse {
	text-align: center;
  height: auto;
  padding-bottom: 0;
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}

/* Transparency */

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

/* Button navigation */

.btn-navigate {
	background-color: #d3d3d3;
	margin: 5% 0 5% 5%;
}

.btn-navigate:hover {
	background-color: #a8a8a8;
}

/* Footer */

footer {
  position: absolute;  /* For sticky footer */
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #b5b5b5;
}

footer > .container {
	width: 90%;
	margin: 0 auto;
	padding-top: 30px;
}

.copyright {
	display: inline-block;
	font-size: 1em;
	color: #fff;
}

.copyright p {
	color: #000;
}

.socia-media-links {
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.btn-social-icon {
	margin-left: 10px;
}