/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */

html {
  position: relative;  /* For sticky footer */
  min-height: 100%;    //* For sticky footer */
}

body {
  margin-bottom: 150px; /* For sticky footer */
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #aaa;
	margin: 1em 0;
	padding: 0; 
}

#static-header {
	position: relative;
	display: none;
	text-align: center;
	margin-top: 20%;
	font-size: 3em;
}

/* General typography */

h1 {
	font-family: Futura, sans-serif;
	color: #dbae58;
	text-align: center;
}

h2 {
	font-family: Futura, sans-serif;
	color: #4e595c;
	text-align: center;
}

p {
	font-family: Arial, sans-serif;
	color: #4e595c;
	font-size: 1.25em;
	text-align: left;
}

/* Nav Bar */

.navbar {
	background-color: #000;
	opacity: 0.5;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	text-align: left;
	border: none;
	height: auto !important;
}

.navbar li {
	display: inline;
}

.navbar-inner {
  text-align: center;
}

.navbar a {
	color: #fff !important;
}

.navbar a:hover {
	background: transparent !important;
	color: #888 !important;
}

/* Increase Nav bar height */

.navbar-brand,
.navbar-nav li a {
	line-height: 75px;
	height: 75px;
	padding-top: 0;
}

/* Center nav links */

.navbar-collapse.collapse {
	text-align: center;
  height: auto;
  padding-bottom: 0;
}

.navbar-nav {
  display: inline-block;
  float: none;
  margin: 0;
}

/* Transparency */

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

/* Button navigation */

.btn-navigate {
	background-color: #d3d3d3;
	margin: 2% 0;
}

.btn-navigate:hover {
	background-color: #207cca;
}

.btn-navigate:active {
	background-color: #207cca;
}

/* Button navigation */

.btn-primary {
  color: #fff !important;
}

.btn-primary:hover {
  color: #ccc !important;
}

.btn-primary:active {
  color: #ccc !important;
}

/* Footer */

footer {
  position: absolute;  /* For sticky footer */
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #b5b5b5;
}

footer > .container {
	width: 90%;
	min-width: 430px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

.footer-links {
	display: inline-block;
}

.footer-links a {
  text-decoration: none;
  background-color: transparent;
}

.footer-links a:hover {
  color: #000;
}

.socia-media-links {
	display: inline-block;
	float: right;
}

.btn-social-icon {
	margin-left: 10px;
}

.socia-media-links p {
	margin-left: 10px;
	font-style: italic;
}

/* Misc */

.alert {
	max-width: 550px;
	text-align: center;
	margin: 0 auto;	
}

/* Media Queries */

@media (max-width: 600px) {
  footer > .container {
  width: 100%;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 5px;
  font-size: 0.75em;
  }
  .btn-social-icon {
  margin-left: 0;
  }
}

@media (max-width: 1050px) {
	/* Bootstrap nav bar collapse */
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    max-height: 100% !important;
  }

  .navbar-collapse.collapse {
    display: none!important;
    text-align: left;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in { 
    display: block!important;
  }

}