// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

.devise-page {
	margin-top: 7%;
}

.devise-background {
	background: url("books_devise.jpg") center center;
	background-size: cover;
}

.devise-page h2 {
	color: #dbae58;
}

.devise-page h3 {
	color: #000;
}

.devise-page p {
	color: #000;
}

// Signup Form

.signup-form {
	max-width: 550px;
  padding: 15px;
	margin: 0 auto;
}

// Login Form

.login-form {
	max-width: 450px;
  padding: 15px;
	margin: 0 auto;
}

// Password Form

.password-form {
	max-width: 450px;
  padding: 15px;
	margin: 0 auto;
}

// Profile Edit Form

.profile-edit-form {
	max-width: 450px;
  padding: 15px;
	margin: 0 auto;
}