// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

.devise-page {
	margin: 7% 0;
}

.devise-background {
	background-image: url("books_devise.jpg");
}

// Signup Form

.signup-form {
	max-width: 550px;
  padding: 15px;
	margin: 0 auto;
}

// Login Form

.login-form {
	max-width: 450px;
  padding: 15px;
	margin: 0 auto;
}

// Password Form

.password-form {
	max-width: 450px;
  padding: 15px;
	margin: 0 auto;
}