// Styles of Orders

#orders-header {
	margin-top: 6%;
}

#orders-subtitle {
	margin-top: 2%;
	font-style: italic;
	margin: 2% 0 2% 10%;
}

.orders-index-container {
	background-color: #d3d3d3;
}

.order-box {
	padding: 2%;
}