// Styles of Orders

// Index

.orders-index-jumbotron {
	position: relative;
	background: url("books_orders.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

.orders-index-container {
  width: 75%;
	margin: 2% auto 10% auto;
}

.orders {
  background-color: #d3d3d3;
}

.orders .table thead {
  font-weight: bold;
  text-transform: uppercase;
}

.order-box {
	padding: 2%;
}

// Show

.show-container {
	margin-bottom: 10%;
}