// Styles of Orders

#orders-header {
	margin-top: 6%;
}

#orders-subtitle {
	margin-top: 2%;
	font-style: italic;
	margin: 0 10%;
}

.orders-index-container {
	margin: 3% auto;
}

.orders-row {
	background-color: #d3d3d3;
	padding: 2% 0;
}