// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

// Index

.products-index-jumbotron {
	position: relative;
	background: url("books_products.jpg") center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
}

#products-subtitle {
	margin-top: 3%;
	font-style: italic;
}

.product-container {
	width: 90%;
}

.product-container {
	margin: 2% auto 5% auto;
	background-color: #dde7ea;
}

.product-row {
	padding: 2%;
}

.book {
	background-color: #f5f5f5;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 2%;
}

.product-box {
	margin: 3% 0;
}

.book h2 {
	font-family: Arial, sans-serif;
	color: #4e595c;
	font-style: italic;
	text-align: center;
}

.thumbnail {
	background-color: #f5f5f5;
	display: block;
	border: none;
}

.book-info {
	width: 55%;
	margin: -10px auto 0 auto;
}

#new-product-link {
	margin-left: 5%;   // To delete later
}

// Show

.show-container {
	width: 80%;
	padding: 0;
	margin: 3% auto 10% auto;
}

.show-product-row {
	background-color: #dde7ea;
	border: 1px solid #d3d3d3;
	padding: 2% 0;
}

#show-product-image {
	margin: 2% auto;
}

.show-product-info {
	margin: 2% 0;
}

.btn-show-back {
	background-color: #d3d3d3;
	margin: 2% auto;
}

.btn-show-back:hover {
	background-color: #a8a8a8;
}

.show-browse-links {
	text-align: center;
}

.show-browse-links p {
	display: inline;
	font-size: 1.5em;
	font-style: italic;
}

.btn-show-browse {
	background-color: #dde7ea;
}

.btn-show-browse:hover {
	background-color: #c6cfd2;
}

// New

.new-product-container {
	width: 80%;
	margin: 20px auto 0 auto;
}

// Edit

.edit-product-container-links {
	margin-left: 7%;
}