// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General

html {
  position: relative;  // For sticky footer
  min-height: 100%;    // For sticky footer
}

body {
	margin-top: 70px;
  margin-bottom: 60px; // For sticky footer
}

#static-header {
	margin-top: 6%;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d3d3d3;
	margin: 1em 0;
	padding: 0; 
}

// General typography

h1 {
	font-family: Futura, sans-serif;
	color: #dbae58;
	text-align: center;
}

h2 {
	font-family: Futura, sans-serif;
	color: #4e595c;
	text-align: center;
}

p {
	font-family: Arial, sans-serif;
	color: #4e595c;
	font-size: 1.25em;
	text-align: left;
}

// Nav bar

.navbar-brand {
	text-decoration: none;
}

.navbar {
	background-color: #588998;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	padding: 0 5% 0 2%;
}

.navbar a {
	color: #fff !important;
}

.navbar a:hover {
	color: #dbae58 !important;
}

// Footer

.footer {
  position: absolute;  // For sticky footer
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #b5b5b5;
}

#copyright {
	position: relative;
	top: 20px;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #fff;
}

// Index page

.title-image {
	margin: 5% auto 0 auto;
}

.static-index-container {
	width: 90%;
	margin: 5% auto;
}

.static-index-info {
	background-color: #dde7ea;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 2%;
}

// Featured Product

#image-carousel {
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	padding: 5%;
}

.featured-products {
	margin: auto auto 5% auto;
	min-width: 250px;
	max-width: 50vw;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: auto;
}

.carousel-control.left, .carousel-control.right {
	background-color: #fff;
	background-image: none !important;
	filter: none !important;
}

.carousel-caption {
	display: none;
	font-size: 1.75em;
	font-weight: bold;
	color: #e50000;
}

#image-carousel:hover {
	.carousel-caption {
		display: block;
	}
}

// About page

.static-about-container {
	width: 80%;
	padding: 2%;
	margin: 2% auto 0 auto;
}

#munich-pic {
	border-radius: 5px;
	margin: 0 auto 4% auto;
}

// Contact page

.static-contact-container {
	width: 70%;
	margin: 5% auto 2% auto;
}

.contact-info {
	min-width: 380px;
	line-height: 2.5;
	background-color: #f5f5f5;
}

.contact-info ul {
	list-style: none;
}

.contact-info li {
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	color: #dbae58;
}

.contact-info li:hover {
	color: #4e595c;
}

// Contact form

form {
	width: 85%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 2%;
	margin: 3% auto;
}

input, textarea {
	font-family: Verdana, serif;
	font-size: 1.5em;
	color: #34495e !important; /* !important necessary */
}

.form-group {
	width: 85%;
	margin: 0 auto 2% auto;
}

.form-control {
	background-color: #f5f5f5;
}

.form-control:focus {
	outline: none;
	border:1px solid #707f8e;
	box-shadow: 2px 2px 10px #d3d3d3;
}

#form-button {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #707f8e;
	color: #707f8e;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .open > .dropdown-toggle.btn-primary {
	color: #588998;
	border-color: #588998;
}

.btn-primary.outline:active {
	background-color: #588998;
	border-color: #588998;
	outline: none;
	color: #fff;
	box-shadow: none;
}