<%= image_tag("books_products.jpg", class: "img-responsive") %>
<h1>Edit Product</h1>

<div class="edit-product-container">
	<%= render 'form' %>

	<div class="edit-product-container-links">
		<%= link_to 'Back', products_path, class: "btn btn-navigate" %>
	</div>

</div>